<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue-model</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="number">
    <button type="button" v-click="increment">Add</button>
    <input type="text" v-model="number2">
    <button type="button" v-click="increment2">Add</button>
  </div>

</body>
<script src="./test.js"></script>

</html>